body {
    text-align: center;
    background-color: rgb(239, 195, 100);
    font-size: 30px;
}
h1 {
    margin: 40px;
    color: rgb(192, 21, 21);
}
img {
    width: 500px;
    height: 500px;
}